1. Write a code to create a string with your name and print it?

In [ ]:
my_name = "Faizal"

print(my_name)

Faizal

2.Write a code to find the length of the string "Hello World"

In [ ]:
str1 = "Hello World"
print(len(str1))

11

3. Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
str2 = "Python Programming"

print(str2[:3])

Pyt

4. Write a code to convert the string "hello" to uppercase

In [ ]:
str3 = "hello"

print(str3.upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
str4 = "I like apple"

str4_new = str4.replace("apple", "orange")
print(str4_new)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it

In [ ]:
list1 = []

for i in range(1,6):
  list1.append(i)

print(list1)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
list2 = [1,2,3,4]

list2.append(10)

print(list2)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
list3 = [1, 2, 3, 4, 5]
list3.remove(3)
print(list3)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
list4 = ['a', 'b', 'c', 'd']

print(list4[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
list6 = [10, 20, 30, 40, 50]

list6[::-1]

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [1]:
tuple1 = (100, 200, 300)

print(tuple1)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [2]:
tuple2 =  ('red', 'green', 'blue', 'yellow')

print(tuple2[-2])

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [3]:
tuple3 = (10, 20, 5, 15)

min(tuple3)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [4]:
tuple4 = ('dog', 'cat', 'rabbit')
tuple4.index("cat")

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [5]:
fruits = ("apple", "orange", "kiwi")

if "kiwi" in fruits:
  print("Kiwi Available")
else:
  print("Not Found")

Kiwi Available

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [6]:
alphabet = {'a', 'b', 'c'}

print(alphabet)

{'a', 'b', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [11]:
set1 = {1,2,3,4,5}

set1.clear()
print(set1)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [12]:
set2 = {1,2,3,4}
set2.remove(4)
print(set2)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [14]:
set3 = {1,2,3}
set4 = {3,4,5}

union_set = set3.union(set4)
print(union_set)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [16]:
set5 = {1,2,3}
set6 = {2,3,4}

intersection_set = set5.intersection(set6)
print(intersection_set)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [17]:
dict1 = {
    "name":"Faizal",
    "age": 20,
    "city": "delhi"
}

print(dict1)

{'name': 'Faizal', 'age': 20, 'city': 'delhi'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [19]:
dict2 = {
    "name": "John",
    "age": 25
}

dict2["country"]= "USA"

print(dict2)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [20]:
dict3 =  {'name': 'Alice', 'age': 30}
dict3.get("name")

'Alice'

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [22]:
dict4 = {'name': 'Bob', 'age': 22, 'city': 'New York'}

dict4.pop("age")

print(dict4)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [26]:
dict5 = {'name': 'Alice', 'city': 'Paris'}

if "city" in dict5:
  print("Found")
else:
  print("Not Found")

Found

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [27]:
list_new = ["apple", 10, 3.5, 3+2j]
print(list_new)

tuple_new = ("apple", 10, 3.5, 3+2j)
print(tuple_new)

dict_new = {
    "name": "Faizal",
    "age": 25,
    "blood": 'A'

}

print(dict_new)

['apple', 10, 3.5, (3+2j)]
('apple', 10, 3.5, (3+2j))
{'name': 'Faizal', 'age': 25, 'blood': 'A'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [31]:
import random
list_random = []

for i in range(5):
  list_random.append(random.randint(1,100))

list_random.sort()

print(list_random)

[3, 55, 59, 83, 89]

28. Write a code to create a list with strings and print the element at the third index.

In [32]:
list_str = ["Apple", "Banana", "Pomegrenate", "Avocado"]

print(list_str[3])

Avocado

29. Write a code to combine two dictionaries into one and print the result.

In [36]:
dict_d1 = {
    "name": "Faiza",
    "age": 23
}

dict_d2 = {
    "blood": "A",
    "class": 10
}

dict_d1.update(dict_d2)

print(dict_d1)

{'name': 'Faiza', 'age': 23, 'blood': 'A', 'class': 10}

30. Write a code to convert a list of strings into a set.

In [38]:
list_str1 = ["Apple", "Banana", "Pomegrenate", "Avocado", "Apple"]

set_str = set(list_str1)
print(set_str)

{'Banana', 'Avocado', 'Pomegrenate', 'Apple'}